@import url("https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:400,700&display=swap&subset=cyrillic");
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

iframe,
figure {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  color: #4D4D4D;
  overflow-x: hidden;
}

@media screen and (max-width: 960px) {
  body {
    font-size: 1.4rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-full {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

::-moz-selection {
  background-color: #AE476F;
}

::selection {
  background-color: #AE476F;
}

p {
  margin-bottom: 2rem;
  line-height: 150%;
}

@media screen and (max-width: 960px) {
  p {
    margin-bottom: 1rem;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #951A4A;
  margin-bottom: 2rem;
}

h1, .h1 {
  font-size: 3.8vh;
}

@media screen and (max-width: 560px) {
  h1, .h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 339px) {
  h1, .h1 {
    font-size: 2rem;
  }
}

h2, .h2 {
  font-size: 3.6rem;
}

@media screen and (max-width: 780px) {
  h2, .h2 {
    font-size: 2.4rem;
  }
}

h2.decor, .h2.decor {
  margin-bottom: 6rem;
  text-align: center;
}

h2.decor span, .h2.decor span {
  position: relative;
}

h2.decor span:before, h2.decor span:after, .h2.decor span:before, .h2.decor span:after {
  content: '';
  width: 98px;
  height: 3px;
  background-color: #B5B9C2;
  position: absolute;
}

h2.decor span:before, .h2.decor span:before {
  bottom: -.5rem;
  left: 0;
}

h2.decor span:after, .h2.decor span:after {
  top: -.5rem;
  right: 0;
}

@media screen and (max-width: 780px) {
  h2.decor span:before, h2.decor span:after, .h2.decor span:before, .h2.decor span:after {
    display: none;
  }
}

h3, .h3 {
  font-size: 2.4rem;
}

@media screen and (max-width: 780px) {
  h3, .h3 {
    font-size: 2rem;
  }
}

h4, .h4 {
  font-size: 1.7rem;
}

.input-wrapper {
  margin-bottom: 1rem;
}

.input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -0.5rem;
}

.input-row .input-wrapper {
  height: unset;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin: 0.5rem;
}

.input-row .input-wrapper input {
  height: unset;
}

input,
textarea {
  background-color: #F9F9F9;
  border: 1px solid #C6C6C6;
  padding: 2rem;
  color: #7D7D7D;
  width: 100%;
  height: 100%;
}

textarea {
  resize: none;
  min-height: 15rem;
}

label {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 1rem;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  cursor: pointer;
  position: relative;
  padding-left: 39px;
  line-height: 29px;
  font-weight: normal;
}

[type="radio"]:checked + label {
  color: #951A4A;
  text-shadow: 1px 0 0px #951A4A;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  background: #F0F0F0;
  border: 1px solid #C6C6C6;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 21px;
  height: 21px;
  background: -webkit-gradient(linear, left top, left bottom, from(#951A4A), to(#C92263)), #951A4A;
  background: linear-gradient(180deg, #951A4A 0%, #C92263 100%), #951A4A;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 560px) {
  textarea {
    font-size: 1.2rem;
    padding: 1rem;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    width: 19px;
    height: 19px;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    width: 11px;
    height: 11px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    cursor: pointer;
    position: relative;
    padding-left: 22px;
    line-height: 19px;
    font-size: 1.3rem;
  }
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  background-color: #121C36;
  z-index: 10;
}

.preload svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.preload svg path {
  fill: #951A4A;
}

.preload svg .line1,
.preload svg .line3 {
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
  -webkit-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
}

.preload svg .line2 {
  -webkit-animation: preloader-rotate-inverse 1s infinite linear;
          animation: preloader-rotate-inverse 1s infinite linear;
  -webkit-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-rotate-inverse {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes preloader-rotate-inverse {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.preload.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.img-wrapper {
  background: #CCC;
  overflow: hidden;
  line-height: 0;
}

.lazy-blur {
  -webkit-filter: blur(25px);
          filter: blur(25px);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.no-blur {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-filter .6s ease-in, -webkit-transform .8s ease-in-out;
  transition: -webkit-filter .6s ease-in, -webkit-transform .8s ease-in-out;
  transition: filter .6s ease-in, transform .8s ease-in-out;
  transition: filter .6s ease-in, transform .8s ease-in-out, -webkit-filter .6s ease-in, -webkit-transform .8s ease-in-out;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 339px) {
  .logo-img {
    max-width: 60px;
  }
}

.logo-text {
  margin-left: 1.5rem;
}

@media screen and (max-width: 560px) {
  .logo-text {
    display: none;
  }
}

.header {
  color: #fff;
  background-color: #121C36;
  padding: 2rem 0 10rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 0;
}

.header .shapes {
  position: absolute;
  left: 41%;
  bottom: 0;
  z-index: -1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1440px) {
  .header .shapes {
    left: unset;
    -webkit-transform: none;
            transform: none;
    right: 0;
  }
}

.header-container {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1720px;
  margin: auto;
}

@media screen and (max-width: 780px) {
  .header-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 12rem;
}

.header-nav .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -2.5rem;
}

@media screen and (max-width: 1100px) {
  .header-nav .block {
    margin: 0 -.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-nav .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem;
  font-weight: 700;
}

.header-nav .label::before {
  display: block;
  margin-right: 2rem;
  margin-bottom: -6px;
  width: 40px;
  height: 36px;
  content: '';
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header-nav .label.phone {
  font-size: 2.8rem;
}

.header-nav .label.phone:before {
  background-image: url("../img/icons/navbar-phone.svg");
}

.header-nav .label.undeground {
  font-size: 1.6rem;
}

.header-nav .label.undeground:before {
  background-image: url("../img/icons/m.svg");
}

@media screen and (max-width: 1100px) {
  .header-nav .label {
    margin: .5rem;
  }
  .header-nav .label:before {
    width: 30px;
    height: 30px;
  }
  .header-nav .label.phone {
    font-size: 1.8rem;
  }
  .header-nav .label.undeground {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 780px) {
  .header-nav .label.phone {
    font-size: 1.4rem;
  }
  .header-nav .label.undeground {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 560px) {
  .header-nav .label:before {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .header-nav {
    min-height: unset;
  }
}

.header-column {
  max-width: 74rem;
  width: 46%;
}

.header-column h1 {
  color: #fff;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 560px) {
  .header-column h1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}

@media (max-width: 1250px) {
  .header-column {
    max-width: unset;
    width: 100%;
  }
}

@media (max-width: 1250px) {
  .header-row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -1rem;
  }
  .header-row .couple {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 360px;
            flex: 1 1 360px;
    margin: 1rem;
  }
}

.header-ul {
  margin-bottom: 6rem;
}

.header-ul li {
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-ul p {
  margin-bottom: 0;
}

.header-ul .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.2rem;
  margin-right: 2rem;
}

.header-ul .title {
  font-size: 2.6rem;
  font-family: 'Merriweather', serif;
  color: #951A4A;
}

@media screen and (max-width: 560px) {
  .header-ul {
    margin-bottom: 4rem;
  }
  .header-ul li {
    margin-bottom: 2rem;
  }
  .header-ul p {
    font-size: 1.3rem;
  }
  .header-ul .title {
    font-size: 2rem;
  }
}

.header-slider {
  padding-bottom: 42%;
  background-color: #141414;
  -webkit-box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 1;
  width: 53%;
  right: 0;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1250px) {
  .header-slider {
    position: relative;
    -webkit-transform: none;
            transform: none;
    -webkit-box-flex: 2;
        -ms-flex: 2 1 400px;
            flex: 2 1 400px;
    margin: 1rem;
  }
}

@media screen and (max-width: 780px) {
  .header-slider {
    width: 100%;
    margin-top: 6rem;
    padding-bottom: 75%;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 780px) {
  .header {
    padding-bottom: 8rem;
  }
  .header .btn {
    display: block;
    text-align: center;
  }
}

#slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

#slider .slide {
  position: relative;
}

#slider .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#slider .slide-text {
  position: absolute;
  left: 3rem;
  bottom: 5rem;
  font-size: 3.8rem;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

@media (max-width: 1400px) {
  #slider .slide-text {
    font-size: 2.8rem;
    bottom: 5.5rem;
    margin-right: 13rem;
  }
}

@media screen and (max-width: 560px) {
  #slider .slide-text {
    text-align: center;
    display: block;
    left: 3rem;
    right: 3rem;
    margin-right: 0;
    bottom: 2.5rem;
  }
}

#slider .slick-list {
  height: 100%;
}

@media (max-width: 1199px) {
  #slider .slick-list div {
    height: 100%;
  }
}

.slick-dots {
  bottom: 6.6rem;
  display: inline-block;
  right: 3rem;
  width: auto;
  padding: 0;
}

.slick-dots li button {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0.5rem;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background-color: #951A4A;
}

@media screen and (max-width: 560px) {
  .slick-dots {
    bottom: -3rem;
    right: unset;
    width: 100%;
  }
}

.slider-progressBar {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.slider-progressBar .progress {
  height: 100%;
  background-color: #951A4A;
}

.btn {
  display: inline-block;
  border: none;
  text-align: center;
  font-weight: 700;
  border-radius: 20rem;
  cursor: pointer;
}

.btn.btn-primary {
  padding: 2.8rem 7rem 2.8rem 4rem;
  font-size: 1.8rem;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#951A4A), to(#C92263)), #951A4A;
  background: linear-gradient(180deg, #951A4A 0%, #C92263 100%), #951A4A;
  -webkit-box-shadow: 0px 6px 10px #BB1556;
          box-shadow: 0px 6px 10px #BB1556;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out, -webkit-transform .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in-out, -webkit-transform .2s ease-in;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in, -webkit-box-shadow .2s ease-in-out, -webkit-transform .2s ease-in;
}

.btn.btn-primary span {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.btn.btn-primary span:after {
  content: url("../img/icons/btn-arrow.svg");
  position: absolute;
  top: 10%;
  right: -3rem;
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .4s ease-in;
  transition: opacity .3s ease-in-out, -webkit-transform .4s ease-in;
  transition: transform .4s ease-in, opacity .3s ease-in-out;
  transition: transform .4s ease-in, opacity .3s ease-in-out, -webkit-transform .4s ease-in;
}

.btn.btn-primary:hover {
  -webkit-box-shadow: 0px 5px 6px #BB1556;
          box-shadow: 0px 5px 6px #BB1556;
}

.btn.btn-primary:hover span {
  -webkit-transform: translateX(1.5rem);
          transform: translateX(1.5rem);
}

.btn.btn-primary:hover span:after {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  opacity: 0;
}

.btn.btn-primary:active {
  -webkit-box-shadow: 0px 1px 3px #BB1556;
          box-shadow: 0px 1px 3px #BB1556;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn.btn-primary:active span {
  -webkit-transform: translateX(1.5rem) scale(1.05);
          transform: translateX(1.5rem) scale(1.05);
}

@media screen and (max-width: 780px) {
  .btn.btn-primary {
    padding: 2.4rem 3.2rem 2.4rem 3.2rem;
    font-size: 1.4rem;
  }
  .btn.btn-primary span:after {
    display: none;
  }
  .btn.btn-primary:hover span {
    -webkit-transform: none;
            transform: none;
  }
}

.btn.btn-common {
  font-size: 1.4rem;
  padding: 3rem;
  background-color: #951A4A;
  color: #fff;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out, -webkit-transform .2s ease-in;
  transition: -webkit-box-shadow .2s ease-in-out, -webkit-transform .2s ease-in;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in;
  transition: box-shadow .2s ease-in-out, transform .2s ease-in, -webkit-box-shadow .2s ease-in-out, -webkit-transform .2s ease-in;
}

.btn.btn-common:hover {
  -webkit-box-shadow: 0px 1px 3px #BB1556;
          box-shadow: 0px 1px 3px #BB1556;
}

.btn.btn-common:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media screen and (max-width: 780px) {
  .btn.btn-common {
    padding: 2rem;
  }
}

.btn.btn-outline {
  border: 3px solid #951A4A;
  color: #951A4A;
  padding: 2rem 3rem;
  font-size: 2rem;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
  vertical-align: middle;
}

.btn.btn-outline:hover {
  background-color: #951A4A;
  color: #fff;
}

.btn.btn-outline.btn-phone:before, .btn.btn-outline.btn-whatsapp:before {
  content: '';
  display: inline-block;
  width: 38px;
  height: 38px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 1.4rem;
}

@media screen and (max-width: 560px) {
  .btn.btn-outline.btn-phone:before, .btn.btn-outline.btn-whatsapp:before {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
  }
}

.btn.btn-outline.btn-phone:before {
  background-image: url("../img/icons/navbar-phone.svg");
}

.btn.btn-outline.btn-phone:hover:before {
  -webkit-filter: brightness(1000);
          filter: brightness(1000);
}

.btn.btn-outline.btn-whatsapp {
  border-color: #4CAF50;
  color: #4CAF50;
}

.btn.btn-outline.btn-whatsapp:before {
  background-image: url("../img/icons/whatsapp.svg");
}

.btn.btn-outline.btn-whatsapp:hover {
  background-color: #4CAF50;
  color: #fff;
}

.btn.btn-outline.btn-whatsapp:hover:before {
  -webkit-filter: contrast(1.5);
          filter: contrast(1.5);
}

@media screen and (max-width: 560px) {
  .btn.btn-outline {
    padding: 2rem;
    font-size: 1.4rem;
  }
}

.btn.btn-filled {
  color: #951A4A;
  background-color: #fff;
  padding: 2rem 3rem;
  font-size: 2rem;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
  vertical-align: middle;
}

.btn.btn-filled:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn.btn-filled.btn-phone:before, .btn.btn-filled.btn-whatsapp:before {
  content: '';
  display: inline-block;
  width: 38px;
  height: 38px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 1.4rem;
}

@media screen and (max-width: 560px) {
  .btn.btn-filled.btn-phone:before, .btn.btn-filled.btn-whatsapp:before {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
  }
}

.btn.btn-filled.btn-phone:before {
  background-image: url("../img/icons/navbar-phone.svg");
}

.btn.btn-filled.btn-phone:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.btn.btn-filled.btn-whatsapp {
  color: #fff;
  background-color: #4CAF50;
}

.btn.btn-filled.btn-whatsapp:before {
  background-image: url("../img/icons/whatsapp.svg");
  -webkit-filter: contrast(1.5);
          filter: contrast(1.5);
}

.btn.btn-filled.btn-whatsapp:hover {
  -webkit-box-shadow: 0 0 10px #4CAF50;
          box-shadow: 0 0 10px #4CAF50;
}

@media screen and (max-width: 560px) {
  .btn.btn-filled {
    padding: 2rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 339px) {
  .btn {
    font-size: 1.2rem !important;
  }
}

.section {
  padding: 10rem 0;
}

@media screen and (max-width: 780px) {
  .section {
    padding: 5rem 0;
  }
}

.section .subtitle {
  margin: -4rem auto 3rem auto;
  max-width: 77rem;
  text-align: center;
}

.extended-section {
  padding: 10rem 0 18rem;
}

@media screen and (max-width: 780px) {
  .extended-section {
    padding: 5rem 0 13rem;
  }
}

#we-support-with {
  background: #fff url("../img/triangle-bg.jpg") center/cover no-repeat;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (max-width: 560px) {
  .features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feature {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  position: relative;
  max-width: 257px;
  height: 257px;
  margin-bottom: 6rem;
}

@media screen and (max-width: 960px) {
  .feature {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 780px) {
  .feature {
    width: calc(50% - 30px);
  }
}

.feature .content {
  height: 100%;
  z-index: 1;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
  padding: 2rem 1rem;
  text-align: center;
}

.feature .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15rem;
  margin-bottom: 1rem;
}

.feature .icon img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.feature .label {
  font-weight: 700;
}

.feature:before {
  content: '';
  position: absolute;
  left: -1.3rem;
  top: -1.3rem;
  background: url("../img/decor/card-triangle.svg") center/contain no-repeat;
  width: 162px;
  height: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 560px) {
  .feature {
    height: unset;
  }
  .feature .icon {
    height: 10rem;
  }
  .feature .label {
    font-size: 1.1rem;
  }
  .feature .content {
    padding: 1.5rem 1rem;
  }
  .feature:before {
    left: -1rem;
    top: -1rem;
    width: 105px;
    height: 100px;
  }
}

#services .body {
  text-align: center;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.services .service {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  background-color: #fff;
  border: 1rem solid #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #B5B9C2, 0px 11px 15px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 0px 3px #B5B9C2, 0px 11px 15px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin-bottom: 3rem;
}

@media (max-width: 1400px) {
  .services .service {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .services .service {
    width: calc(100% - 30px);
  }
}

.services .service .img-wrapper {
  margin: -2rem;
  position: relative;
  padding-bottom: 82%;
}

.services .service .img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
}

.services .service .body {
  margin: 1rem;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .service .body .h3 {
  font-size: 22px;
}

@media screen and (max-width: 780px) {
  .services .service .body .h3 {
    font-size: 2rem;
  }
}

.services .service .body p {
  margin-bottom: 2rem;
}

.services .service .body .btn {
  margin-top: auto;
  margin-bottom: 1rem;
}

#fast-consult {
  background: #121C36 url("../img/free-consult-bg.jpg") center/cover no-repeat;
  padding: 6rem 0;
}

#fast-consult .couple {
  margin: -3rem;
  margin-bottom: -2rem;
}

#fast-consult .couple .btn {
  margin: 3rem;
  min-width: 35rem;
}

@media screen and (max-width: 960px) {
  #fast-consult .couple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -1.5rem;
  }
  #fast-consult .couple .btn {
    margin: 1.5rem;
    min-width: unset;
  }
}

#fast-consult .h2 {
  margin-bottom: 3.5rem;
}

#fast-consult .h3 {
  margin-bottom: 0;
}

#fast-consult .content {
  text-align: center;
}

.primary-card .content {
  z-index: 1;
  position: relative;
  border: 1rem solid #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #B5B9C2, 0px 11px 15px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 0px 3px #B5B9C2, 0px 11px 15px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 3rem;
}

@media (max-width: 339px) {
  .primary-card .content {
    padding: 2rem;
  }
}

.primary-card.decor {
  position: relative;
}

.primary-card.decor:before, .primary-card.decor:after {
  position: absolute;
  line-height: 0;
}

.primary-card.decor:before {
  content: url("../img/decor/card-triangle.svg");
  top: -1.5rem;
  left: -1.5rem;
}

.primary-card.decor:after {
  content: url("../img/decor/card-triangle-bottom.svg");
  bottom: -1.5rem;
  right: -1.5rem;
}

#ww-realty {
  background: #fff url("../../img/map-bg.png") top center/contain no-repeat;
  margin-top: 4rem;
  padding-top: 6rem;
  text-align: center;
}

@media screen and (max-width: 780px) {
  #ww-realty {
    margin-top: unset;
    padding-top: 5rem;
  }
  #ww-realty .h2 {
    font-size: 2.1rem;
  }
  #ww-realty .h3 {
    font-size: 1.6rem;
  }
}

#ww-realty .countries {
  margin-bottom: 7rem;
}

@media screen and (max-width: 780px) {
  #ww-realty .countries {
    margin-bottom: 0;
  }
}

#ww-realty p {
  margin-bottom: 0;
}

.countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.countries .country {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  margin-bottom: 3rem;
  text-align: center;
}

.countries .country .image-wrapper {
  position: relative;
  padding-bottom: 74%;
  margin-bottom: 3rem;
  text-align: center;
}

.countries .country .image-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.countries .country .h3 {
  margin-bottom: 0;
}

.factors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -0.5rem;
  margin-bottom: 2.5rem;
}

.factors .factor {
  width: 154px;
  height: 198px;
  margin: 0.5rem;
  background: #fff;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.factors .factor .img-wrapper {
  height: 140px;
}

.factors .factor .title {
  min-height: 5.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: .5rem;
}

@media (max-width: 339px) {
  .factors .factor {
    width: 140px;
  }
}

.levitating-block {
  border: 1rem solid #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #B5B9C2, 0px 11px 15px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 0px 3px #B5B9C2, 0px 11px 15px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 4rem;
  margin-top: -18rem;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.levitating-block .icon {
  margin-right: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
}

.levitating-block .content {
  -webkit-box-flex: 7;
      -ms-flex: 7 1 300px;
          flex: 7 1 300px;
  text-align: left;
}

.levitating-block p {
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .levitating-block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 780px) {
  .levitating-block {
    margin-top: -13rem;
    margin-bottom: 5rem;
    padding: 2rem;
  }
}

@media screen and (max-width: 560px) {
  .levitating-block .icon {
    display: none;
  }
}

#portfolio {
  background: #F8F9FB url("../img/triangle-wide-bg.jpg") center/cover no-repeat;
}

#portfolio .services {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

#portfolio .services .service {
  width: calc(33.33333% - 30px);
  max-width: 36rem;
}

@media screen and (max-width: 960px) {
  #portfolio .services .service {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 780px) {
  #portfolio .services .service {
    width: calc(100% - 30px);
  }
}

#portfolio .services .service p {
  font-size: 1.4rem;
}

#portfolio .levitating-block p {
  margin-bottom: 0;
}

.heading {
  padding: 1.4rem 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #121C36;
  vertical-align: middle;
}

.heading .badge {
  width: 35px;
  height: 25px;
  margin-right: 2rem;
  vertical-align: middle;
}

.primary-ul {
  font-weight: 700;
  margin-bottom: 2rem;
}

.primary-ul li {
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.primary-ul li:before {
  content: '';
  display: inline-block;
  width: .5rem;
  height: .5rem;
  margin-right: 1rem;
  background-color: #951A4A;
  margin-left: -1.5rem;
  vertical-align: middle;
}

#quiz-section {
  background: #121C36 url("../img/quiz-bg.jpg") center/cover no-repeat;
}

#how-we-work {
  position: relative;
}

#how-we-work .steps {
  max-width: 100%;
  max-height: 10rem;
  margin: 5rem auto 3rem auto;
  display: block;
}

@media screen and (max-width: 960px) {
  #how-we-work .steps {
    display: none;
  }
}

#how-we-work .features {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#how-we-work .features .feature {
  height: unset;
}

#how-we-work .features .feature .icon {
  height: 13rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1100px) {
  #how-we-work .features .feature .icon {
    height: 10;
  }
}

@media screen and (max-width: 560px) {
  #how-we-work .features .feature .icon {
    height: 6rem;
    margin-bottom: 2rem;
  }
}

#how-we-work .plan {
  margin: 5rem 0 2rem;
}

#how-we-work .circle {
  position: absolute;
  opacity: .8;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#how-we-work .circle-right {
  top: 5%;
  right: 0;
}

#how-we-work .circle-left {
  left: 0;
  bottom: 5%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media screen and (max-width: 960px) {
  #how-we-work .circle {
    opacity: .4;
  }
}

.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  counter-reset: step;
}

.plan .step {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(16.66667% - 30px);
  text-align: center;
  margin-bottom: 3rem;
}

@media screen and (max-width: 960px) {
  .plan .step {
    width: calc(25% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .plan .step {
    width: calc(33.33333% - 30px);
  }
}

.plan .step .icon {
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 2rem;
  border: 1px solid #BEBEBE;
  position: relative;
}

.plan .step .icon img {
  max-width: 100%;
  max-height: 100%;
  padding: 2rem;
}

.plan .step .icon:after {
  counter-increment: step;
  content: counter(step, decimal-leading-zero);
  width: 25px;
  height: 25px;
  background-color: #951A4A;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  color: #fff;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan .step .icon:before {
  content: url("../../img/right-plan/arrow.svg");
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(3px, -50%);
          transform: translate(3px, -50%);
}

.plan .step .title {
  display: block;
  border-top: 5px solid #951A4A;
  padding-top: 1rem;
  font-size: 1.4rem;
}

.plan .step:nth-child(6n) .icon:before {
  display: none;
}

@media screen and (max-width: 960px) {
  .plan .step .icon:before {
    display: none;
  }
}

.plan .step:last-child .icon:after {
  background-color: #4CAF50;
}

@media screen and (max-width: 560px) {
  .plan .step .icon {
    width: 8rem;
    height: 8rem;
  }
  .plan .step .title {
    font-size: 1.1rem;
    margin: -1rem;
  }
}

#about-company {
  background: #F8F9FB url("../img/triangle-iversed-bg.jpg") top center/contain no-repeat;
  text-align: center;
  padding-bottom: 0;
}

#about-company .levitating-block .icon {
  margin-bottom: -3rem;
}

@media screen and (max-width: 560px) {
  #about-company .levitating-block .btn-primary {
    font-size: 1.2rem;
    padding: 2rem 1.5rem;
    display: block;
  }
}

#about-company .team,
#about-company .our-succsess {
  margin-bottom: 10rem;
}

@media screen and (max-width: 1100px) {
  #about-company .team,
  #about-company .our-succsess {
    margin-bottom: 5rem;
  }
}

#about-company .contacts {
  margin-top: -30vh;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

@media screen and (max-width: 1100px) {
  #about-company {
    padding-bottom: 5rem;
  }
  #about-company .contacts {
    margin-top: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -0.5rem;
}

.team-member {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
  max-width: 160px;
  margin: 0.5rem;
  margin-bottom: 1rem;
  background: #fff;
  -webkit-box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
}

.team-member .img-wrapper {
  height: 217px;
}

.team-member .body {
  padding: 1rem;
}

.team-member .title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.team-member p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

@media (max-width: 339px) {
  .team-member {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 140px;
            flex: 1 1 140px;
  }
  .team-member .title {
    font-size: 1.6rem;
  }
  .team-member p {
    font-size: 1.1rem;
  }
}

.our-succsess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-succsess__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  margin-bottom: 3rem;
}

@media screen and (max-width: 960px) {
  .our-succsess__block {
    width: calc(50% - 30px);
  }
}

.our-succsess__block .wreath__digit {
  color: #951A4A;
  font-size: 7rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: -2.5rem;
  font-family: 'Merriweather', serif;
}

.our-succsess__block .wreath__digit .sub {
  font-size: 2.7rem;
  display: block;
}

.our-succsess__block .wreath__image {
  max-height: 9rem;
  margin-bottom: 3rem;
}

.our-succsess__block .wreath__image img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 560px) {
  .our-succsess__block {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .our-succsess__block .wreath__digit {
    font-size: 4rem;
    margin-bottom: -1.5rem;
  }
  .our-succsess__block .wreath__digit .sub {
    font-size: 1.8rem;
  }
  .our-succsess__block .wreath__image {
    margin-bottom: 1rem;
  }
}

.contacts {
  background-color: #951A4A;
  -webkit-box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts .logo {
  margin-bottom: 2rem;
}

@media (max-width: 339px) {
  .contacts .logo-img {
    max-width: unset;
  }
}

.contacts .h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.contacts .with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.contacts .with-icon .icon {
  width: 28px;
  height: 28px;
  margin-right: 1rem;
  margin-top: 5px;
}

@media screen and (max-width: 560px) {
  .contacts .with-icon .text {
    font-size: 1.2rem;
  }
}

.contacts .btn-filled {
  margin: 1rem 0;
  display: block;
  max-width: 35rem;
}

.contacts .btn-filled:last-child {
  margin-bottom: 0;
}

.contacts .column {
  padding: 3rem;
  max-width: 47rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contacts .column-slider {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 30rem;
          flex: 3 1 30rem;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.contacts #our-office-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.contacts #our-office-slider .slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts #our-office-slider .slick-dots {
  bottom: 2rem;
  right: 2rem;
}

#map-section {
  width: 100%;
  position: relative;
  padding-bottom: 42%;
  min-height: 50rem;
  overflow: hidden;
  z-index: -1;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#quiz {
  max-width: 93rem;
  margin-left: auto;
  margin-right: auto;
}

#quiz .head {
  min-height: 13rem;
  margin-bottom: 3rem;
}

#quiz .head .step {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 1.7rem;
  color: #7D7D7D;
  margin-bottom: 1.5rem;
}

#quiz .body {
  height: 18rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#quiz .foot {
  min-height: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#quiz .foot .btn {
  margin-left: auto;
}

#quiz .radio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1.5rem;
}

#quiz .radio-row .radio-input {
  margin: 1.5rem;
}

#quiz .screen {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 44.5rem;
}

#quiz .screen.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#quiz .screen[data-screen="thanks"] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#quiz .screen[data-screen="thanks"] .body {
  min-height: 100%;
  text-align: center;
}

@media screen and (max-width: 560px) {
  #quiz .content {
    padding: 2rem;
  }
  #quiz .radio-row {
    margin: -.5rem;
  }
  #quiz .radio-row .radio-input {
    margin: .5rem;
  }
  #quiz .head {
    min-height: unset;
    margin-bottom: 1rem;
  }
  #quiz .head .step {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  #quiz .body {
    height: unset;
  }
  #quiz .foot {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #quiz .foot .btn {
    margin-top: 1rem;
    padding: 2rem;
    display: block;
    width: 100%;
  }
  #quiz .screen {
    min-height: unset;
  }
  #quiz .h3 {
    font-size: 1.6rem;
  }
}

@media (max-width: 339px) {
  #quiz .h3 {
    font-size: 1.4rem;
  }
  #quiz textarea {
    min-height: 10rem;
  }
  #quiz input {
    padding: 1.5rem 1rem;
  }
}

.modal {
  display: none;
  border: 1rem solid #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #B5B9C2, 0px 11px 15px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 0px 3px #B5B9C2, 0px 11px 15px rgba(0, 0, 0, 0.25);
  padding: 5rem;
  width: 75rem;
  max-width: 100%;
  text-align: center;
  position: relative;
  overflow: visible;
}

.modal h3, .modal .h3 {
  margin-bottom: 1rem;
}

.modal .subtitle {
  margin-bottom: 4rem;
}

.modal .content {
  max-width: 57rem;
  margin: auto;
}

.modal form {
  margin: 4rem 0 3rem 0;
}

.modal form .btn {
  margin-top: 3rem;
}

.modal:before, .modal:after {
  position: absolute;
  z-index: -1;
}

.modal:before {
  content: url("../img/decor/card-triangle.svg");
  top: -2rem;
  left: -2rem;
}

.modal:after {
  content: url("../img/decor/card-triangle-bottom.svg");
  bottom: -2.4rem;
  right: -2rem;
}

@media screen and (max-width: 560px) {
  .modal {
    padding: 4rem 2rem;
  }
}

@media (max-width: 339px) {
  .modal {
    padding: 3rem 2rem;
  }
  .modal .subtitle {
    margin-bottom: 2rem;
  }
  .modal form .btn {
    margin-top: 1rem;
  }
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.primary {
  color: #951A4A;
}

.black {
  color: #121C36;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}

.compensate-for-scrollbar {
  margin-right: 0 !important;
}
/*# sourceMappingURL=style.css.map */