// Base
*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

iframe,
figure {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    @include primaryFont;
    font-size: 1.6rem;
    margin: 0; 
    color: $font-color;
    overflow-x: hidden;
    @include md-block() {
        font-size: 1.4rem;
    }
}

.container {
    @include wrapper();
}

.container-full {
    @include wrapper-full();
}

.img-wrapper img {
    object-fit: cover;
    object-position: center;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

::selection {
    background-color: $selection;
}


// Tags
p {
    margin-bottom: 2rem;
    line-height: 150%;
    @include md-block() {
        margin-bottom: 1rem;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    @include secondaryFont;
    font-weight: 700;
    color: $primary;

    margin-bottom: 2rem;
}

h1, .h1 {
    font-size: 3.8vh;
    @include xs(font-size, 2.2rem);
}

h2, .h2 {
    font-size: 3.6rem;
    @include sm-block() {
        font-size: 2.4rem;
    }
    &.decor {
        margin-bottom: 6rem;     
        text-align: center;
        span {
            position: relative;
            &:before,
            &:after {
                content: '';
                width: 98px;
                height: 3px;
                background-color: #B5B9C2;
                position: absolute;
            }
            &:before {
                bottom: -.5rem;
                left: 0;
            }
            &:after {
                top: -.5rem;
                right: 0;
            }
        }
    }
}
h3,.h3 {
    font-size: 2.4rem;
    @include sm-block() {
        font-size: 2rem;
    }
}

input,
textarea {
    background-color: #F9F9F9;
    border: 1px solid #C6C6C6;
    padding: 2rem;
    color: #7D7D7D;
    margin-bottom: 1rem;
    width: 100%;
}
