.italic {
    font-style: italic;
}
.bold {
    font-weight: 700;
}
.block {
    display: block;
}
.text-center {
    text-align: center;
}
.primary {
    color: $primary;
}
.black {
    color: #121C36;
}

.disable-scroll {
    height: 100%;
    overflow: hidden;
}
.compensate-for-scrollbar {
    margin-right: 0!important;
}
