// Your code here

//For lazy styles
.img-wrapper {
    background: #CCC;
    overflow: hidden;
}
.lazy-blur {
    filter: blur(25px);
    transform: scale(1.4);
}
.no-blur {
    filter: blur(0);
    transform: scale(1);
    transition: filter .6s ease-in, transform .8s ease-in-out;
}
