$primary: #951A4A;

$primary-bg: #9A044C;
$secondary-bg: #121C36;

$selection: #AE476F;

$font-color: #4D4D4D;

$white: #fff;
$black: #4D4D4D;

$btn-bg: linear-gradient(180deg, #951A4A 0%, #C92263 100%), #951A4A;
$btn-shadow: 0px 6px 10px #BB1556;
$btn-shadow-hover: 0px 5px 6px #BB1556;
$btn-shadow-active: 0px 1px 3px #BB1556;

$iphone-5: 339px;
